*{
    margin: 0;
    padding: 0;
}

h1{
  font-size: 42px;
  font-family: Arial, sans-serif;
}
h3, h4{
  font-size: 22px;
}
p{
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}
body{
  background-color: powderblue;

}
.wrapper{
  background-color: white;
  padding:50px;
  width: 75%;
  margin: auto;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  'header header header'
  'sidebar content content'
  'footer footer footer';
  grid-template-rows: 80px auto auto;
  grid-template-columns: 15% auto auto;
  grid-gap: 15px;
}
header{
  grid-area: header;
  height: 15vh;
  text-align: center;
  margin: auto;
}
#sidebar{
  display: flex;
  width: 240px;
  flex-direction: column;
  grid-area: sidebar;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
button{
  font-size: 22px;
  width: 240px;
  margin: 10px;
  padding: 10px;
  background-color: white;
}
button:hover{
  background-color: black;
  color: white;
}
#picker{
  width: 240px;
  margin-top: 18px;
  margin-bottom: 0;
}

#content{
  margin: 0 auto auto auto;
  grid-area: content;
 
}
#container{  
  border: 1px solid gray;
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
footer{
  grid-area: footer;
  text-align: center;
  margin-top: auto;
  height: 15vh;
}

.grid{
    font-size: 16px;
    /* border: 1px solid gray; */
}
/* slider css starts here copy -> paste from w3schools.com */
.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    margin-top: 15px;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: powderblue; 
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: powderblue; 
    cursor: pointer; /* Cursor on hover */
  }
  /* slider css stops here */
